<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">

        <iron-ajax
          auto
          url="http://127.0.0.1:8081/index.json"
          handle-as="json"
          last-response="{{ajaxResponse}}"
          on-response="_onResponse"></iron-ajax>

          <div class="horizontal-section-container">
            <h1>ISBN: <span id="isbn"></span></h1>
            <h2>Title: <span id="title"></span></h2>
            <h3>Contributors: <span id="contributors"></span></h3>
            <iron-image
              style="width:164px; height:220px; background-color: white;"
              sizing="cover"
              preload
              fade
              src="https://d1re4mvb3lawey.cloudfront.net/pg1017/cover.jpg"></iron-image>
          </div>
        </div>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      _onResponse(event) {
        this.$.title.innerHTML = event.detail.response.title;
        this.$.contributors.innerHTML = event.detail.response.contributors.join(", ");
        this.$.isbn.innerHTML = event.detail.response.isbn;
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
